<!DOCTYPE html>
<html lang='en'>
<head>
    <style>{styles}</style>
</head>
<body>
    <div class='header' style='background-color:#28A745;'>No Scheduled Power Interruption</div>
    <div class='content'>
        <p>Greetings,</p>
        <p>Good news! As of now, there are no planned power interruptions around <span class='important-text'>{location}</span>.</p>
        <p>If you experience a power outage in your area or require additional information, please reach out to KPLC's customer service using the contact details provided below:</p>
        <p>KPLC National Contact Centre: <a href="tel:97771">97771</a> or <a href="tel:0703070707">0703 070 707</a> | <a href="tel:0732170170">0732 170 170</a></p>
        <p>USSD & Telephone Number: Dial *977# or <a href="tel:+254203201000">+254 203201000</a></p>
        <p>Email: <a href='mailto:customercare@kplc.co.ke'>customercare@kplc.co.ke</a></p>
    </div>
    <div class='footer'>
        <p>Best Regards,</p>
    </div>
</body>
</html>