<!DOCTYPE html>
<html lang='en'>
<head>
    <style>{styles}</style>
</head>
<body>
    <div class='header' style='background-color:#D22B2B;'>Scheduled Power Interruption Notice</div>
    <div class='content'>
        <p>Greetings,</p>
        <p>We would like to inform you that there is a scheduled power interruption around <span class='important-text', style='color:#D22B2B;'>{location}</span> on <span class='important-text', style='color:#D22B2B;'>{date}</span>.</p>
        <p>The power interruption is expected to last from <span class='important-text' style='color:#D22B2B;'>{time}</span></p>
        <p>Please adjust your plans accordingly to avoid any inconvenience. For more information, please contact:</p>
        <p>KPLC National Contact Centre: <a href="tel:97771">97771</a> or <a href="tel:0703070707">0703 070 707</a> | <a href="tel:0732170170">0732 170 170</a></p>
        <p>USSD & Telephone Number: Dial *977# or <a href="tel:+254203201000">+254 203201000</a></p>
        <p>Email: <a href='mailto:customercare@kplc.co.ke'>customercare@kplc.co.ke</a></p>
    </div>
    <div class='footer'>
        <p>Best Regards,</p>
    </div>
</body>
</html>